*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, #448aff, #2962ff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container{
    background-color: #ffffff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

.timerDisplay{
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 120px;
    height: 45px;
    background-color: #2962ff;
    color: #ffffff;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.buttons button:hover{
    background-color: #0039cb;
}

.buttons button:nth-last-child(2){
  background-color: #d50000;
}

.buttons button:nth-last-child(1){
  background-color: #00c853;
}
